.MuiButton-root {
    background: none;
    box-shadow: none;
    padding: 0;
  }

.MuiDialogContent-root .MuiListItem-root .MuiButton-root {
    color: #fff !important;
    text-transform: capitalize;
}

.MuiDialogTitle-root{
    color: #fff !important;
    background-color: #fe4a55 !important;
}

.MuiSvgIcon-root{
    fill: #fff !important;
}